:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: lightgrey;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3rem;
  max-width: 100%;
  width: 35rem;
}
.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.4rem;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.4rem;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f1f1f1;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #f1f1f1;
  border: 0;
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: inherit;
  padding: 0.8rem 3rem;
  margin: 0.5rem;
  font-size: 1.4rem;
}
.btn {
  box-shadow: #999 2px 2px;
}

.btn:hover {
}
.btn:active {
  transform: scale(0.97);
  box-shadow: none;
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
